.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #072019;
}
.navbar h2{
    color:#f18930;
    padding: 0px 20px;
    font-size: 25px;
    font-weight: 500;
}
.navbar h2:hover{
    color:#0b910b;
    background: #072019;

}
.navmenu  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1000;
    
}
.navmenu li a{
    color: #ffffff;
    margin-right: 20px;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}
.navmenu li a:hover{
    color : red;
    background: #072019;
    
}
.navmenu li {
    display: inline-block;

}
.search-box .search{
    padding: 10px 8px;
    border-radius: 50px;
    font-size: 16px;
}
.pink-box {
    padding-right: 50px;
    margin-bottom: 80px;
    width: 80px; /* Change the width to a random value or fixed size you prefer */
    height: 300px; /* Change the height to a random value or fixed size you prefer */
    background-color: rgb(204, 48, 116);
    
    top: 50%; /* Change the top and left values to random positions as needed */
    left: 50%;
    
}
.main-header{
    width: 100%; 
    margin: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    
  
    
}
.main-header h3{
    font-size: 30px;
    color: #0b910b;
    font-weight: 550;
}

.main-header h2{
    font-size: 40px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 24px;
}
.main-header p{
    margin-bottom: 60px;
    color:#343434;
    width: 400px;
}
.header{
    padding-left: 150px;
}
.main-header .btn{
    background: navy;
    border: 1px solid navy;
    font-size: 24px;
    color:#ffffff;
    font-weight: 440;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all .5s;
}
.main-header .btn:hover{
    color : blue;
    background: #ffffff;
}
.head_image img{
    width: 600px;
}
.midimage img{
    width: 100%;
    height: 400px;
}
.middle {
    
    justify-content: center;
    align-items: center;
    
}

.midimage {
    position: relative;
}



.mid_header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Set the text color to contrast with the background */
}

.mid_header h3 {
    font-size: 24px;
}

.mid_header h2 {
    font-size: 36px;
    margin-top: 10px; /* Adjust as needed */
}

.headline h1{
    text-align: center;
    margin-top: 50px;
}
.new_guitar_images{
    display: flex;
    
    justify-content: space-around;
    padding: 20px 30px;
}
.new_guitar_image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding: 20px 30px;
}
.new_images{
    /* display: flex; */
    /* border-style: solid; */
    /* background-color: antiquewhite; */
}

.new_images p1{
    /* width: 320px; */
    font-size: 20px;
    text-align: center;
    color:#0b910b;
    /* border-bottom: #072019; */
    /* border-style: solid; */
}
.new_images p2{
    width: 320px;
    font-size: 20px;
    text-align: center;
    color:#0b910b;
    /* border-style: solid; */
}
.new_images i{
    border-style: solid;
}


.new_images img{
    width: 320px;
    height: 500px;
}
footer {
    margin-top: 60px;
    background-color: #333;
    padding: 20px 0;
    
  }
  
 
  .footer-container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1140px;
  }
  .footer-content{
    width: 33.3%;
    display: flex;
  }
  .footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color:#ccc;
  }
  .footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
    color: #0b910b;

  }
  .footer-content ul{
    text-align: center;
  }
  .list{
    padding: 0;
  }
  .list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
    
    font-size: 24px;
  }
  .list a{
    color: #0b910b;
  }
  .list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    right: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
  }
  .list li:hover::before{
    width: 70px;
  }
  .footer-content {
    display: grid;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .social-icons{
    text-align: center;
    
   
  }
  .social-icons i {
    font-size: 25px;
    color: #fff;
    color: #0b910b;
    padding-bottom: 100px;
  }
  .social-icons li {
    text-align: center;
    padding: 5px;
    display: inline-block;
    
  }
  .social-icons a {
    text-decoration: none;
    /* align-items: center; */
    text-align: center;
  
  }
  .social-icons a:hover {
    text-decoration: #f18930;
  }
  .bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 16px;
  }
  .bottom-bar p{
    color: #343434;
    font-size: 16px;
    padding: 7px;
    margin: 0;
  }
  .tc_headline{
    display: flex;
    justify-content: center; 
  }
.different_categories{
    display: flex;
    justify-content: center;
    font-size: 20px;
    
  } 
  .different_categories i{
background: #0b910b;
border: solid;
font-size: 30px;
border-right: #e2efe2
;
    
  } 
  .guitar_cat{
    background-color: rgb(236, 232, 232);
    width: 80%;
    height: 700px;
    margin-left: 150px;
    margin-top: 50px;
    
}
.c_headlines1 h1{
    text-align: center;
    /* font-family */
}
.online{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    font-size: 40px;
    background-color: #f18930;
}

/*  */

.About-us-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #072019;
    width: 100%;
    height: 180px;
    /* margin-left: 150px; */
    margin-top: 50px;
    text-align: center;
}
.a_image img{
    height: 180px;
    width: 320px;
   
  }
.About-us h3{
    font-size: 30px;
    color: #0b910b;
    font-weight: 550;
}

.About-us h2{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 24px;
    color: #ccc;
}
.About-us p{
    margin-bottom: 60px;
    color:#343434;
    font-size: 22px;
    color: #0056b3;
}

/* Contact page */
.container {
    
    max-width: 400px;
    margin-top:50px;
    margin-left: 550px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(21, 10, 83, 0.5);

}

.container h2 {
    margin-top: 40px;
    text-align: center;
}

.form-group {
    
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}
input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }